<head>
  <% provide title: :product %>
</head>

<h1>Products</h1>
<div class="container">
  <% @all.each do |p| %>
    <div class="row <%= cycle('product_odd','product_even')%>">
      <div class="col rounded">
        <%= image_tag p.image, size: '50x50', alt: "no image "%>
      </div>
      <div class="col">
      <%= p.name %>
      </div>
      <div class="col">
      <%= sprintf("$%0.02f",p.price) %>
      </div>
      <div class="col">
        <%= link_to 'Detail', product_show_path(p)%>
      </div>
    </div>
    <% end %>
</div>
