<h1>Product#show</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <%=image_tag(@product.image, size: '100x100', alt: "no imag")%>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= @product.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-4">
      <div class="description">
        <h5> Description: </h5>
      </div>
    </div>
    <div class="col">
      <% if @product.description.present? %>
        <%= sanitize(@product.description) %>
      <% else %>
        <%= sanitize("There is no description yet")%>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
    <%= link_to 'Home', root_path, class: "btn btn-primary"%>
    </div>
  </div>
</div>
